@model ContractsApp.Models.Contract

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Contract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MyProperty)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MyProperty)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Experience)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Experience)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContractId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
